

.baseButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: var(--c-gray-20);
    color: var(--c-gray-90);
    box-shadow: 4px 0 4px var(--c-black-25);

}

.buttonWithLink {
    text-decoration: none;
}