.container {
    display: flex;
    flex-direction: column;
    max-width: 192px;
    box-shadow: 4px 0 4px var(--c-black-25);
    border-radius: 8px;
    background-color: var(--c-gray-20);



    .body {

    }

}