.socialMedia {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 10px;

    border-radius: none;
    box-shadow: none;

    width: 100%;
    max-width: 141px;
    background-color: var(--c-gray-20);

    .socialMediaBtn {

        font-size: 24px;
        text-decoration: none;


        svg {
            color: var(--c-gray-80);
        }
    }


    &:hover {
        background-color: var(--c-gray-80);

        .socialMediaBtn {
            svg {
                color: var(--c-gray-20);
            }
        }
    }

}






