

:root {
    --c-white: rgba(255,255,255,100%);
    --c-black: rgba(0,0,0,100%);
    --c-gray-10: rgba(244,247,251,100%);
    --c-gray-20: rgba(234,238,245,100%);
    --c-gray-30: rgba(215,222,234,100%);
    --c-gray-40: rgba(183,190,205,100%);
    --c-gray-50: rgba(157,165,180,100%);
    --c-gray-60: rgba(134,144,162,100%);
    --c-gray-70: rgba(100,110,130,100%);
    --c-gray-80: rgba(75,83,98,100%);
    --c-gary-90: rgba(33,36,44,100%);


}


